@using DevExtreme.AspNet.Mvc
@using Repository.Core.Models
@model IEnumerable<WebEmt>

<div class="alert alert-light alert-dismissible fade show px-0">
    <h5 class="">Personnel</h5>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

@(Html.DevExtreme().DataGrid<WebEmt>()
    .ID("gridContainer")
    .ShowBorders(true)
    .DataSource(d => d
        .Mvc()
        .Controller("Profile")
        .Key("Code")
        .LoadAction("Get")
        .InsertAction("Add")
        .UpdateAction("Update")
        .DeleteAction("Delete")
    )
    .Editing(e => e
        .AllowUpdating(true)
        .AllowDeleting(true)
        .AllowAdding(true)
    )
    .Columns(columns => {
        columns.Add().DataField("Code").AllowEditing(false);
        columns.Add().DataField("CallLetters");
        columns.Add().DataField("Email").Caption("Email Address");
        columns.Add().DataField("FirstName").Caption("First Name");
        columns.Add().DataField("LastName").Caption("Last Name");
        columns.Add().DataField("Title");
    })
)
