@model CounterPoint.ViewModels.LoginViewModel

<div class="row">
    <div class="col-md-6 offset-md-6">
        <h3 class="text-center csi-login-header">User Login</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="d-flex flex-column align-items-center m-auto">
            <h1 class="mb-3">Welcome to</h1>
            <h5 class="csi-network-name">Network Name 1</h5>
            <p class="text-center csi-about">We’ve updated our CSI Electronic Affidavit System, Use the login form at the right to see it in action. It’s FAST | RELIABLE | EFFICIENT.</p>
        </div>
    </div>
    <div class="col-md-6">
        <form method="post" asp-controller="Account" asp-action="Login">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="card csi-login-box">
                        <article class="card-body csi-login-card">
                            <p>Please log in using affiliated station username.</p>
                            <div class="form-floating mb-3">
                                <input asp-for="Username" class="form-control" placeholder="Email or login" type="text">
                                <label for="Username">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Password" class="form-control" placeholder="******" type="password">
                                <label for="Password">Password</label>
                            </div>
                            <div class="checkbox mb-2">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary"> Login  </button>
                            </div>
                            @if (@ViewData["Message"] != null)
                            {
                                <div class="text-danger">
                                    @ViewData["Message"]
                                </div>
                            }
                            
                        </article>
                    </div>
                    <div class="csi-login-trouble">
                        <p class="font-weight-bold text-center">Having trouble logging in?</p>
                    </div>
                    <div class="d-flex justify-content-between csi-login-fp-help">
                        <button class="btn btn-light"><i class="bi bi-lock-fill"></i> Forgot password?</button>
                        <button class="btn btn-light"><i class="bi bi-question-circle-fill"></i> Help me sign on</button>
                    </div>
                    <div class="d-flex flex-column align-items-center csi-login-powered-by">
                        <p class="mb-2">Powered by</p>
                        <img class="csi-login-img" src="~/assets/images/logo.jpg">
                    </div>
                    <div class="csi-login-footer">
                        <p class="font-weight-small">Copyright &copy; 2022 | Privacy statement | Terms of use | All policies and guidelines</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
