$border-radius: .25rem;

$white: #FFFFFF;
$white-01: #E9ECEF;
$white-02: #CED4DA;
$white-full: #F8F9FA;

$black: #343A40;
$black-01: #495057;

$gray: #6C757D;
$gray-01: #ADB5BD;

$default: #d99f67;
$primary: #bf8b59;
$primary-dark: #D99F67;
$primary-light: #FFDBB9; 
$neutral: #343a40;
$success: #29d672;
$warning: #E2B93B;
$warning-dark: #BF9514;
$warning-light: #FFF0C4;
$info: #308ABF;
$info-dark: #116A9F;
$error: #EB5757;
