@if (User.Identity.IsAuthenticated)
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Spot" asp-action="Index">Spots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
        </ul>
    </div>
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </div>
}
else
{
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item csi-nav-list active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item csi-nav-list">
                <a class="nav-link" href="#">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <p>Personnel</p>
                </a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                US English
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Choose Language</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">US English</a>
                <a class="dropdown-item" href="#">Spanish</a>
            </div>
        </li>
        <li class="nav-item">
            <i class="fa fa-circle-question info-dark"></i>
        </li>
    </ul>
}